.main {
    min-width      : 300px;
    height         : 100%;
    position       : relative;

    display        : flex;
    flex-direction : column;
}

.header {
    height        : 65px;
    width         : 100%;
    border-bottom : 2px solid var(--lightGrayColor);

    display       : flex;
    align-content : center;
}

.imageBack {
    cursor : pointer;
}

.header img {
    margin-top       : 6px;
    padding          : 13px;
    border-radius    : 10px;

    background-color : var(--lightGrayColor);

    transition       : transform 0.5s;
}

.header img.isRotate {
    transform : rotate(180deg);
}

.header .title {
    margin-top  : 14px;
    margin-left : 10px;
    font-weight : 500;
}

.content {
    height : calc(100% - 65px);
}

.search {
    width            : calc(100% - 40px);

    border           : none;
    border-radius    : 10px;
    padding          : 12px 40px 12px 20px;

    outline          : none;

    background-color : var(--lightGrayColor);
}

.search::placeholder {
    color : var(--grayColor);
}

.inputSearch {
    margin-top  : 15px;

    display     : flex;
    align-items : center;
}

.buttonSearch {
    outline          : none;
    border           : none;
    cursor           : pointer;
    background-color : transparent;

    margin-left      : -40px;
}

.isNotOpen .title {
    display : none;
}

.isNotOpen .inputSearch {
    display : none;
}