.element {
    height          : 44px;

    display         : flex;
    align-items     : center;
    justify-content : center;
}

.image {
    padding       : 13px;

    border-radius : 10px;
}

.match div {
    border-right : 3px solid var(--mainColor);
    border-left  : 3px solid var(--whiteColor);
}

.match .image {
    background-color : var(--mainColorLight);
}