.main {
    display : flex;
    height  : 100%;
}

.nav {
    width  : 6.5%;
    height : 100%;
}

.content {
    width         : 100%;
    padding       : 20px;

    border-left   : 2px solid var(--lightGrayColor);
    border-radius : 20px;
}

