.main {
    width           : 100vw;
    height          : 100vh;

    display         : flex;
    align-items     : center;
    justify-content : center;
}

.card {
    width            : 1305px;
    height           : 725px;

    border-radius    : 20px;

    background-color : #fff;
    box-shadow       : 0 0 40px rgba(199, 199, 199, 0.5);
}